authtoken: 1j6XQsZMfWEBfDqXTwKOu7O8WO8_2r3CCthoNA9f6n3SnRqP
tunnels:
  teamsweb:
    proto: http
    addr: 4001
    host_header: localhost
    subdomain: soundbite.ai
    authtoken: 1j6XQsZMfWEBfDqXTwKOu7O8WO8_2r3CCthoNA9f6n3SnRqP
  api:
    proto: http
    addr: 52313
    host_header: localhost
    subdomain: api.soundbite.ai
  spa:
    proto: http
    addr: 3000
    host_header: localhost
    subdomain: spa.soundbite.ai